.message{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.input {
    height: 75px;
    border-top: solid 1px #393636;
}
.wrapper{
    height: 75px;
    border-bottom: solid 1px #393636;
}