.yourProfile {
    border-right: solid 1px #393636;
    grid-template-rows: 1fr 1fr;
}
.avatar{
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    color: white;
    border-bottom: solid 1px #393636;
}
.description{
    font-size: 30px;
    margin: 20px;
    color: white;
}